<h2 class="auth-title">Înregistrare</h2>
<form>
  <input type="text" placeholder="Name" class="auth-input" required>
  <input type="text" placeholder="Surname" class="auth-input" required>
  <input type="tel" placeholder="Phone number" class="auth-input" required>
  <input type="text" placeholder="Email" class="auth-input" required>
  <input type="password" placeholder="Parola" class="auth-input" required>
  <button class="auth-button">Înregistrează-te</button>
</form>
<p class="auth-footer">Ai deja un cont? <a routerLink="/auth/login">Autentifică-te</a></p>
