<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>{{ "FOOTER.COMPANY.MAIN" | translate }}</h4>
        <ul>
          <li><a href="#">{{ "FOOTER.COMPANY.ABOUT_US" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.COMPANY.OUR_SERVICES" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.COMPANY.PRIVACY_POLICY" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.COMPANY.AFFILIATE_PROGRAM" | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{ "FOOTER.GET_HELP.MAIN" | translate }}</h4>
        <ul>
          <li><a href="#">{{ "FOOTER.GET_HELP.FAQ" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.GET_HELP.SHIPPING" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.GET_HELP.RETURNS" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.GET_HELP.ORDER_STATUS" | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{ "FOOTER.CATEGORIES.MAIN" | translate }}</h4>
        <ul>
          <li><a href="#">{{ "FOOTER.CATEGORIES.WATCH" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.CATEGORIES.BAG" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.CATEGORIES.SHOES" | translate }}</a></li>
          <li><a href="#">{{ "FOOTER.CATEGORIES.DRESS" | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{ "FOOTER.FOLLOW_US" | translate }}</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
