<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Otdam Darom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          @if (IsLoggedIn()) {
            <li>
              <a class="nav-link text-dark">{{ "NAVBAR.MY_PROFILE" | translate }}</a>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link text-dark"
                 routerLink="/auth/login">{{ "NAVBAR.AUTHENTICATION_BUTTON" | translate }}</a>
            </li>
          }
          <li>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  {{ currentLanguage | uppercase }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li *ngFor="let language of languages">

                    <button class="dropdown-item" (click)="translateText(language)"
                            *ngIf="language !== currentLanguage">{{ language | uppercase }}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

