.navbar-brand {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
