@{
    ViewBag.Title = "Anunțuri recente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Pagina principală</title>
<div class="container-fluid">
    <div class="row">
        <!-- Anunțuri -->
        <div class="col-md-9">
            <h4 class="mb-3">Anunțuri recente</h4>

            <div class="row">
                <!-- Repetă acest card pentru fiecare anunț -->
                <div class="col-md-6 mb-4">
                    <div class="card shadow h-100">
                        <div class="card-body d-flex">
                            <img src="~/img/sweater.png" class="mr-3" style="height:60px;" />
                            <div>
                                <h5 class="card-title mb-1">Pulover</h5>
                                <p class="card-text text-muted mb-2">Ușor purtat, mărime M</p>
                                <a href="#" class="btn btn-sm btn-outline-success">Solicită</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ... alte carduri ... -->
            </div>
        </div>
    </div>
</div>