<div class="deal-detail">
  <img
    alt="Product Image" class="deal-image"
    src="https://s.yimg.com/ny/api/res/1.2/GhM76sKdgHOgG00UvpGbEQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTcwNTtoPTUyOQ--/https://media.zenfs.com/en-US/homerun/inverse_media_399/368c6652a02cb380d237783131b5af44">

  <div class="deal-info">
    <h1 class="deal-title">{{ deal.Name }}</h1>
    <p class="deal-description">
      {{ deal.Description }}
    </p>
    <button class="contact-button">Contactează Donatorul</button>
  </div>
</div>
