.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28a745;
  padding: 10px;
  width: 120px;
  height: 50px;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn i {
  font-size: 24px;
}

.btn:hover {
  background-color: #218838;
  color: white;
}

app-search {
  width: 1000px;
}
